<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>PortalWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AgregarConfiguracion</servlet-name>
    <servlet-class>servlets.AgregarConfiguracion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BusquedaArticulo</servlet-name>
    <servlet-class>servlets.BusquedaArticulo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Carrito</servlet-name>
    <servlet-class>servlets.Carrito</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginUsuario</servlet-name>
    <servlet-class>servlets.LoginUsuario</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutUsuario</servlet-name>
    <servlet-class>servlets.LogoutUsuario</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModificarEstadoConf</servlet-name>
    <servlet-class>servlets.ModificarEstadoConf</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ObtenerBestSellers</servlet-name>
    <servlet-class>servlets.ObtenerBestSellers</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ObtenerConfiguracion</servlet-name>
    <servlet-class>servlets.ObtenerConfiguracion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ObtenerArticulo</servlet-name>
    <servlet-class>servlets.ObtenerArticulo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ObtenerArticuloCarrito</servlet-name>
    <servlet-class>servlets.ObtenerArticuloCarrito</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ObtenerTodosArticulos</servlet-name>
    <servlet-class>servlets.ObtenerTodosArticulos</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TodasLasVentas</servlet-name>
    <servlet-class>servlets.TodasLasVentas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgregarConfiguracion</servlet-name>
    <url-pattern>/AgregarConfiguracion/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BusquedaArticulo</servlet-name>
    <url-pattern>/BusquedaArticulo/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Carrito</servlet-name>
    <url-pattern>/Carrito/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModificarEstadoConf</servlet-name>
    <url-pattern>/ModificarEstadoConf/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginUsuario</servlet-name>
    <url-pattern>/LoginUsuario/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutUsuario</servlet-name>
    <url-pattern>/LogoutUsuario/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ObtenerBestSellers</servlet-name>
    <url-pattern>/ObtenerBestSellers/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ObtenerConfiguracion</servlet-name>
    <url-pattern>/ObtenerConfiguracion/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ObtenerArticulo</servlet-name>
    <url-pattern>/ObtenerArticulo/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ObtenerArticuloCarrito</servlet-name>
    <url-pattern>/ObtenerArticuloCarrito/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ObtenerTodosArticulos</servlet-name>
    <url-pattern>/ObtenerTodosArticulos/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TodasLasVentas</servlet-name>
    <url-pattern>/TodasLasVentas/*</url-pattern>
  </servlet-mapping>
</web-app>