html, body {
	background: #EEEEEE;
	text-align: center;
	margin: 0px;
	height: 100%;
	width: 100%;
	font-family: 'sans-serif';
    font-size: 10px;
}
h1 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20pt;
	color: white;
	padding-top: 12px;
	padding-bottom: 3px;
}
#wrap {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
	min-height: 100px;
}
#body-image {
	margin-top: 60px;
}
#main-nav {
	margin: 0px 0px 0px 2px;
	text-align: left;
	min-height: 25px;
	padding-top: 10px;
	padding-left: 0px;
}
#main-handle {
	width: 1000px;
	float: left;
	margin-top: -1px;
	background-color: #FFFFFF;
}
#main-nav li {
	display: inline;
	list-style: none;
	border-right: 1px solid #BBBBBB;
}
#main-nav li a {
	margin-right: 5px;
	font-size: 15px;
	text-decoration: none;
	color: #888888;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	/*font-weight: bold;*/
	padding: 10px;
	outline: 0;
	position: relative;
	top: -2px;
}
#main-nav li a:hover, #main-nav li a.active {
	background: #EEEEEE;
}
#sub-link-bar {
	position: relative;
	top: 88px;
	height: 40px;
	display: block;
	background: #FFF;
	min-height: 10px;
	border: #DDD 1px solid;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	margin-top: -30px;
}
.sub-links {
	display: none;
	position: absolute;
	width: 100%;
	top: 60px;
	text-align: left;
	left: 0px;
}
#main-nav li .sub-links li a:hover{
	background: #EEEEEE;
}
#main-nav li a.close{
	display: none;	
	position: absolute;
}
#main-nav li a.close:hover{
	background: #EEEEEE;
}
<!--Thanks Spiffy Corners--> 
.round {
	display:block
}
.round * {
	display:block;
	height:1px;
	overflow:hidden;
	font-size:.01em;
	background:#CCCCCC;
}
.round1 {
	margin-left:3px;
	margin-right:3px;
	padding-left:1px;
	padding-right:1px;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	background:##CCCCCC
}
.round2 {
	margin-left:1px;
	margin-right:1px;
	padding-right:1px;
	padding-left:1px;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	background:#CCCCCC;
}
.round3 {
	margin-left:1px;
	margin-right:1px;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
}
.round4 {
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
}
.round5 {
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
}
.roundfg {
	background:#FFFFFF;
}