.button {
	width: 75px;
	height: 33px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0;
	margin: 0;
	background: #666666;
	border: 1 px solid;
	cursor: pointer;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	font-weight: bold;
	color: white;
	line-height: 15px;
	font-size: 13px;
	font-family: "arial", "sans-serif";
	vertical-align: middle;
	text-align: center;
}

.mainTitle {
	color:#444444;
	margin-top:-40px;
}

.inputData td label {
	font-size: 14px; 
	color: #FFFFFF; 
	font-family: Arial;
}